.btn{
  background: $stack-color;
  border-radius: 10px;
  font-family: $PTSansNarrowRegular;
  color: $light-color;
  box-sizing: border-box;
  text-decoration: none;
  transition: 2s;
  &:hover{
    background: lighten($stack-color, 15%);
    text-decoration: none;
    outline: none;
  }
  &:focus {
    background: darken($stack-color, 15%);
    text-decoration: none;
    outline: none;
  }
}
.btn-large{
  padding: 7px 65px;
  font-size: $h5-size;
}
.btn-small{
  padding: 4px 24px;
  font-size: $h6-size;
}
button{
  background: $bg-rew;
  border: none;
  color: $light-color;
  padding: 6px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  border-bottom: 3px solid #ac160a;
  cursor: pointer;
  &:hover, &:active{
    outline: none;
  }
  &:hover{
    background: lighten($bg-rew, 15%);
  }
}