/* font-family: "PTSansNarrowRegular"; */
@font-face {
  font-family: "PTSansNarrowRegular";
  src: url("../../fonts/PTSansNarrowRegular/PTSansNarrow.eot");
  src: url("../../fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"),
  url("../../fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
  font-family: "PTSansNarrowBold";
  src: url("../../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
  src: url("../../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
  url("../../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
