//colors
$base-color: rgb(37, 37, 39);
$stack-color: rgb(253, 86, 33);
$light-color: rgb(255, 255, 255);
$red-color: rgb(204, 8, 8);
$block-text-color: rgb(26, 21, 21);
$heading-color: rgb(50, 49, 48);
$dark-color: rgb(6, 2, 1);
$link-color:rgb(46, 46, 45);
$bg-block-color: rgb(228, 228, 228);
$bg-light-color: rgb(218, 218, 218);
$bg-rew: rgb(250, 25, 34);

//font-family
$PTSansNarrowBold: "PTSansNarrowBold", sans-serif;
$PTSansNarrowRegular: "PTSansNarrowRegular", sans-serif;