<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <ul>
                    <li><a href="#">Обзор</a></li>
                    <li><a href="#">Как это работает?</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Воросы-Ответы</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Политика безопасности</a></li>
                    <li><a href="#">Условия</a></li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12 text-right">
                        <div class="mail">
                            <img src="../img/mail.png" alt="email">
                            <a href="#">contact@powerpullup.pro</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 text-left">
                        <div class="phone">
                            <img src="../img/phone.png" alt="phone">
                            <a href="#">+38 097 764 66 99</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="hidden">
    <form id="form-order" class="form">
        <h3>Заполните поля</h3>
        <input type="text" name="name" placeholder="Имя" required/><br>
        <input type="tel" name="phone" placeholder="Телефон" required/><br>
        <input type="email" name="email" placeholder="Электронная почта" required/><br>
        <div class="btn_wrap">
            <button class="btn btn-small" type="submit">Заказать</button>
        </div>
    </form>
</div>
<script src="js/main.js"></script>
</body>
</html>