<header>
    <div class="top-info-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="training-door">
                        <h6 class="head">турник <span>Наддверный</span></h6>
                        <img src="../img/powerpullup1.png" alt="turnik">
                        <img class="door" src="../img/door.png" alt="door">
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="training-wall">
                        <h6 class="head">турник <span>Настенный</span></h6>
                        <img src="../img/powerpullup2.png" alt="turnik">
                        <h2>Турники для дома</h2>
                        <p class="small-heading">тренировка тела за 10 минут в день</p>
                        <div class="info-item clearfix">
                            <div class="info-item_price">
                                <div class="img-wrap">
                                    <img class="price" src="../img/hand-icon.png" alt="price">
                                </div>
                                <h6>Доступная цена</h6>
                                <span>345 грн</span>
                            </div>
                            <div class="info-item_warranty">
                                <div class="img-wrap">
                                    <img class="warant" src="../img/fl.png" alt="warranty">
                                </div>
                                <h6>Гарантия</h6>
                                <span>12 месяцев</span>
                            </div>
                            <div class="info-item_complect">
                                <div class="img-wrap">
                                    <img class="support" src="../img/technical-support.png" alt="tech">
                                </div>
                                <h6>Крепления</h6>
                                <span>в комплекте</span>
                            </div>
                        </div>
                        <div class="link-wrap">
                            <a class="link-wrap_name" href="#">http://PowerPullUp.PRO</a>
                            <img class="logo_bottom" src="../img/small-logo.png" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="my-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                        <div class="phone">
                            <img src="../img/phone.png" alt="phone">
                            <a href="#">+38 097 764 66 99</a>
                        </div>
                        <div class="mail">
                            <img src="../img/mail.png" alt="email">
                            <a href="#">contact@powerpullup.pro</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                        <div class="menu">
                            <ul class="clearfix">
                                <li><a href="#work">Как это работает</a></li>
                                <li><a href="#video">Видео</a></li>
                                <li><a href="#faq">Вопросы-Ответы</a></li>
                                <li><a href="#reviews">Отзывы</a></li>
                                <li><a href="#contact">Купить</a></li>
                                <li class="last_el"><a href="#">Обзор</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>